* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  color: white !important;
  background-color: #212529 !important;
}

.App {
  height: 100%;
}

#root {
  height: 100%;
}

.banner {
  position: absolute;
  top: 30%;
  width: 50%;
  left: 25%;
  animation-name: initialAnimation;
  animation-duration: 1s;
}

#main_landing_page {
  height: 100%;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.561);
  background-blend-mode: multiply;
  overflow: hidden;
}

.btn-outline-secondary {
  color: white !important;
  border-color: white !important;
  border-radius: 1em !important;
}

.btn-outline-secondary:hover {
  background-color: white !important;
  color: black !important;
}

.message_error {
  color: red;
}

.spinner-border {
  width: 10rem !important;
  height: 10rem !important;
  border-width: 1rem !important;
  position: absolute;
  left: 50%;
  margin-top: 1em;
}

.songs {
  display: grid;
}

.song {
  background: #2b2f35;
  align-items: center;
  margin: 1em;
  text-align: center;
  border-radius: 8px;
  border: rgb(167, 167, 167) 2px solid;
}

.song_info {
  margin: 1em 0;
}

.song_info > h1 {
  font-size: 1.5rem;
}

.song_info > h2 {
  font-size: 1rem;
}

.album_image_wrapper {
  padding: 0.5em;
}

.album_image_wrapper > img {
  width: 100%;
}

.profile-button {
  cursor: pointer;
}

.label {
  margin-bottom: 4px;
  color: grey;
  font-weight: bold;
}

.user_info {
  margin: auto;
  max-width: 1200px;
  background: #2b2f35;
  padding: 1em;
  border-radius: 1em;
}

.user_info_item {
  margin-bottom: 1em;
}

.user_profile_pic {
  width: 100px;
  height: 100px;
}

.user_profile_pic > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user_info_main {
  background: #212529;
  padding: 1em;
  border-radius: 1em;
  border: whitesmoke solid 1px;
}

@keyframes initialAnimation {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (min-width: 1920px) {
  .songs {
    grid-template-columns: repeat(5, minmax(300px, 400px));
  }
}

@media screen and (max-width: 1920px) {
  .songs {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1366px) {
  .songs {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1007px) {
  .songs {
    grid-template-columns: repeat(2, 1fr);
  }
}
